.tabs-container {
  display: flex;
  justify-content: center;
}

.tabs-container .nav {
  width: 50%;
}

.solution {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
}
